.site-footer {
  &__social {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-start: 1px solid
      light-dark(var(--c-neutral-200), var(--c-neutral-700));
    padding-block-start: var(--spacing-200);
  }

  &__inner {
    padding-inline: var(--spacing-125);
    margin-inline: var(--spacing-125);
    padding-block-end: var(--spacing-500);
    border-inline: 1px solid
      light-dark(var(--c-neutral-200), var(--c-neutral-700));
  }
}

@container style(--theme: dark) {
  .site-footer {
    &__social {
      a {
        img {
          filter: invert(1);
        }
      }
    }
  }
}
