.site-footer {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }
}
