.site-footer {
  &__social {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);

    a {
      @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
          // animation: join-convo linear both;
          animation-timeline: view();
          animation-range: contain 0 cover 20%;
        }
      }

      &:nth-child(2) {
        animation-range: contain 8% cover 20%;
      }

      &:nth-child(3) {
        animation-range: contain 16% cover 20%;
      }
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-start: 1px solid
      light-dark(var(--c-neutral-200), var(--c-neutral-700));
    padding-block-start: var(--spacing-200);
  }

  &__inner {
    padding-inline: var(--spacing-125);
    margin-inline: var(--spacing-125);
    padding-block-end: var(--spacing-500);
    border-inline: 1px solid
      light-dark(var(--c-neutral-200), var(--c-neutral-700));
  }
}

@container style(--theme: dark) {
  .site-footer {
    &__social {
      a {
        img {
          filter: invert(1);
        }
      }
    }
  }
}

@keyframes join-convo {
  0% {
    filter: blur(20px);
    opacity: 0;
    transform: scale(0.8);
  }
}
