.site-header {
  &__inner {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    background-color: light-dark(var(--c-neutral-0), var(--c-neutral-800));
    padding: var(--spacing-75);
    border-radius: var(--br-10);
    border: 1px solid light-dark(var(--c-neutral-200), var(--c-neutral-700));
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(123, 123, 123, 0.03);

    @media (width > 768px) {
      gap: var(--spacing-250);
    }
  }

  &__profile {
    img {
      border-radius: var(--br-10);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: clip;
    position: absolute;
    inset-block-start: calc(100% + var(--spacing-150));
    inset-inline-start: 0;
    inline-size: 100%;
    background-color: light-dark(var(--c-neutral-0), var(--c-neutral-800));
    padding: var(--spacing-150);
    opacity: 0;
    border-radius: var(--br-10);
    z-index: 10;
    transition:
      height 0.3s ease,
      opacity 0.1s ease,
      background-color 0.1s ease;
    transition-behavior: allow-discrete;

    @supports (anchor-name: --a) {
      &::before {
        content: "";
        position: absolute;
        position-anchor: --nav-pill;
        //inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
        background-color: var(--c-blue-500);
        block-size: 3px;
        inset: auto calc(anchor(right) + var(--spacing-150))
          calc(anchor(bottom) + var(--spacing-150) - 2px)
          calc(anchor(left) + var(--spacing-150));
        transition-duration: 0.3s;
      }

      &:has(.site-header__link:hover)
        .site-header__link.site-header__link--active:not(:hover) {
        anchor-name: none;
      }
    }

    @media (width > 768px) {
      flex-direction: row;
      gap: var(--spacing-300);
      background-color: transparent;
      position: static;
      inset-block-start: 0;
      inset-inline-start: auto;
      margin-inline-start: auto;
      inline-size: auto;
      padding: 0;
      opacity: 1;
      height: auto;
      overflow: visible;
    }

    &.open {
      height: auto;
      overflow: visible;
      opacity: 1;
      gap: var(--spacing-150);
      row-rule-width: 1px;
      row-rule-style: solid;
      row-rule-color: light-dark(var(--c-neutral-200), var(--c-neutral-700));

      @supports not (row-rule-style: solid) {
        gap: 0;

        .site-header__link:not(:last-of-type) {
          padding-block-end: var(--spacing-75);
          border-block-end: 1px solid
            light-dark(var(--c-neutral-200), var(--c-neutral-700));
        }

        .site-header__link:not(:first-of-type) {
          margin-block-start: var(--spacing-75);
        }
      }

      ~ .site-header__hamburger {
        .site-header__hamburger-button {
          background-color: light-dark(
            var(--c-neutral-700),
            var(--c-neutral-0)
          );
        }

        .icon-hamburger {
          display: none;
        }

        .icon-close {
          display: block;
        }
      }
    }
  }

  &__hamburger {
    font-size: 0;
    margin-inline-start: auto;
    @media (width > 768px) {
      display: none;
    }
    &-button {
      background-color: transparent;
      border-radius: var(--br-10);
      padding: var(--spacing-125);

      .icon-close {
        display: none;
      }

      @container style(--theme: dark) {
        .icon-hamburger {
          filter: invert(1);
        }

        .icon-close {
          filter: invert(1);
        }
      }
    }
  }

  &__link {
    color: light-dark(var(--c-neutral-600), var(--c-neutral-400));
    text-decoration: none;
    z-index: 1;
    position: relative;
    &:not(:has(.site-header__link:hover)).site-header__link--active {
      anchor-name: --nav-pill;
    }
    &:is(:hover, :focus-visible) {
      anchor-name: --nav-pill;
    }

    @media (width > 768px) {
      padding: 0.5rem 0.75rem;
    }
  }

  &__link--active {
    font-weight: var(--fw-bold);
    color: light-dark(var(--c-neutral-900), var(--c-neutral-0));
    @media (width > 768px) {
      text-decoration: underline;
      text-decoration-color: var(--c-blue-500);
      text-decoration-thickness: 3px;
      text-underline-offset: 2px;
      font-weight: var(--fw-normal);
      color: inherit;
    }
  }

  &__modus {
    display: flex;

    &-button {
      inline-size: 44px;
      aspect-ratio: 1 / 1;
      border-radius: var(--br-8);
      background-color: light-dark(var(--c-neutral-100), var(--c-neutral-900));
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon-sun {
      display: none;
    }
  }
}

@container style(--theme: dark) {
  .site-header {
    &__modus-button {
      .icon-moon {
        display: none;
      }

      .icon-sun {
        display: block;
      }
    }
  }
}
