.site-header {
  &__inner {
    display: flex;
    align-items: center;
    gap: var(--spacing-250);
    background-color: light-dark(var(--c-neutral-0), var(--c-neutral-800));
    padding: var(--spacing-75);
    border-radius: var(--br-10);
  }

  &__profile {
    img {
      border-radius: var(--br-10);
    }
  }

  &__nav {
    margin-inline-start: auto;
    display: flex;
    gap: var(--spacing-300);
  }

  &__link {
    color: light-dark(var(--c-neutral-600), var(--c-neutral-400));
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--br-8);
  }

  &__link--active {
    text-decoration: underline;
    text-decoration-color: var(--c-blue-500);
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }

  &__modus {
    display: flex;

    &-button {
      inline-size: 44px;
      aspect-ratio: 1 / 1;
      border-radius: var(--br-8);
      background-color: light-dark(var(--c-neutral-100), var(--c-neutral-900));
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon-sun {
      display: none;
    }
  }
}

@container style(--theme: dark) {
  .site-header {
    &__modus-button {
      .icon-moon {
        display: none;
      }

      .icon-sun {
        display: block;
      }
    }
  }
}
