.social-share {
  display: flex;
  gap: var(--spacing-150);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    border-radius: var(--br-10);
    background-color: light-dark(var(--c-neutral-0), var(--c-neutral-800));
    border: 1px solid light-dark(var(--c-neutral-200), var(--c-neutral-700));

    animation: fade-in-socials linear both;
    animation-timeline: view();
    animation-range: calc(sibling-index() * 3%) 25%;

    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      //transform: translateY(-3px);
      background-color: light-dark(var(--c-neutral-200), var(--c-neutral-700));
      border-color: light-dark(var(--c-neutral-300), var(--c-neutral-600));
    }
  }
}

@container style(--theme: dark) {
  .social-share {
    img {
      filter: invert(1);
    }
  }
}
