:root {
  /* neutral colors */

  --c-neutral-900: #1c1a19;
  --c-neutral-800: #201e1d;
  --c-neutral-700: #34302d;
  --c-neutral-600: #4a4846;
  --c-neutral-400: #c0bfbf;
  --c-neutral-300: #dedcda;
  --c-neutral-200: #efedeb;
  --c-neutral-100: #fbf9f7;
  --c-neutral-0: #ffffff;

  /* blue colors */

  --c-blue-200: #e1f1fe;
  --c-blue-500: #93cefc;
  --c-blue-800: #75b0de;
  --c-blue-900: #022b4a;

  /* green colors */

  --green-200: #e9f5ea;
  --green-500: #9dd3a9;
  --green-700: #008531;
  --green-900: #132a18;

  /* Yellow colors */

  --yellow-200: #fff5e1;
  --yellow-500: #facc79;
  --yellow-700: #ea9806;
  --yellow-900: #4a3003;

  /* red colors */
  --red-400: #f04438;
  --red-600: #d92d20;

  --color-bg: light-dark(var(--c-white-100), var(--c-purple-950));
  --color-text: light-dark(var(--c-purple-900), var(--c-white-300));
}
