---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
---
<Base title="Personal Blog — Newsletter">
  <Header slot="header" />
  <section class="newsletter wrapper">
    
  </section>
</Base>
