---
---
<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div>Made with ❤️ and ☕️</div>
    <div class="site-footer__social" aria-label="Social links">
      <a href="https://twitter.com/" aria-label="Twitter" class="site-footer__social-link">
        <img src="/images/logo-x.svg" alt="" width="20" height="20" />
      </a>
      <a href="https://github.com/" aria-label="GitHub" class="site-footer__social-link">
        <img src="/images/logo-github.svg" alt="" width="20" height="20" />
      </a>
      <a href="https://www.linkedin.com/" aria-label="LinkedIn" class="site-footer__social-link">
        <img src="/images/logo-linkedin.svg" alt="" width="20" height="20" />
      </a>
      <a href="https://www.frontendmentor.io/" aria-label="Frontend Mentor" class="site-footer__social-link">
        <img src="/images/logo-frontend-mentor.svg" alt="" width="20" height="20" />
      </a>
    </div>
  </div>
</footer>
