---
---
<header class="site__header header" role="banner">
  <div class="container header__inner">
    <a class="header__brand" href="/">Vulpo</a>
    <nav class="header__nav" aria-label="Main navigation">
      <a class="header__link" href="/">Home</a>
      <a class="header__link" href="/blog">Blog</a>
      <a class="header__link" href="/about">About</a>
    </nav>
  </div>
</header>
