---
---
<header class="site__header header">
  <div class="header__inner">
    <a class="header__brand" href="/">Vulpo</a>
    <nav class="header__nav">
      <a class="header__link" href="/">Home</a>
      <a class="header__link" href="/blog">Blog</a>
      <a class="header__link" href="/about.html">About</a>
    </nav>
  </div>
</header>
