---
---
<div class="social-share">
    <a href="https://twitter.com/share?url={Astro.url}&text=Check%20out%20this%20page!" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter">
        <img src="/images/logo-x.svg" alt="Twitter icon" width="20" height="20" />
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={Astro.url}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook">
        <img src="/images/logo-github.svg" alt="Facebook icon" width="20" height="20" />
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={Astro.url}" target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn">
        <img src="/images/logo-linkedin.svg" alt="LinkedIn icon" width="20" height="20" />
    </a>
     <a href="https://www.linkedin.com/shareArticle?mini=true&url={Astro.url}" target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn">
        <img src="/images/logo-frontend-mentor.svg" alt="Frontend Mentor icon" width="20" height="20" />
    </a>
</div>