---
import '../styles/global.scss';
const { title = 'Vulpo Blog' } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="site">
    <slot name="header" />
    <main class="site__content">
      <slot />
    </main>
    <footer class="site__footer">© {new Date().getFullYear()} Vulpo</footer>
  </body>
</html>
