---
import '../styles/main.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title = 'Vulpo Blog' } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="site">
    <Header />
    <main class="site__content">
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
